node_modules
apps/frontend/node_modules
apps/backend/node_modules
packages/shared/node_modules

database
database_backup
database_backup_2
database_backup_*

.git
.expo
apps/frontend/.expo

uploads
apps/backend/uploads

*.log
.env