# ==============================================================================
# CONFIGURAZIONE DATABASE (PostgreSQL & Docker)
# ==============================================================================
DB_HOST=db
DB_USER=inserisci_qui_un_nome_utente_db
DB_PASSWORD=inserisci_qui_una_password_sicura_per_il_db
DB_NAME=outgrow_db
DB_PORT=5432

# ==============================================================================
# CONFIGURAZIONE BACKEND (Express)
# ==============================================================================
PORT=3000
NODE_ENV=development

# Chiave segreta per firmare i token JWT (usa una stringa complessa e casuale)
JWT_SECRET=inserisci_qui_una_stringa_segreta_molto_lunga_per_i_jwt

# Expire time del token
JWT_EXPIRES_IN=7d

#Percorso locale per gli upload (relativo alla cartella backend)
UPLOAD_PATH=./uploads