# ==============================================================================
# CONFIGURAZIONE FRONTEND / URL PUBBLICO
# ==============================================================================
# OPZIONE A: Se usi l'Emulatore Android sul tuo PC (lascia invariato)
# EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:80

# OPZIONE B: Se usi un dispositivo Android fisico (decommenta e inserisci l'IP del tuo PC)
EXPO_PUBLIC_API_BASE_URL=http://inserisci_qui_l_ip_locale_del_tuo_pc:80